<!-- En-tête -->
<header class="header-sticky header-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="../../index.html">
        <%= image_tag "logo-temp.png", class: "navbar-logo navbar-logo-light" %>
        <%= image_tag "logo-temp.png", class: "navbar-logo navbar-logo-dark" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html" role="button">
              Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../../landing-pages.html">
                <span>Landing Pages</span>
                <p>Start with one of pre-made templates.</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../../inner-pages.html">
                <span>Inner Pages</span>
                <p>Extend your website with these pages.</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../../app-pages.html">
                <span>App Pages</span>
                <p>Add functionality to your website.</p>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Components
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
              <div class="row">
                <div class="col">
                  <ul class="mega-list">
                    <li><a href="../../components/index.html" class="highlight">Getting Started</a></li>
                    <li><a href="../../components/accordions.html">Accordions</a></li>
                    <li><a href="../../components/backgrounds.html">Backgrounds</a></li>
                    <li><a href="../../components/blog.html">Blog</a></li>
                    <li><a href="../../components/boxes.html">Boxes</a></li>
                    <li><a href="../../components/buttons.html">Buttons</a></li>
                    <li><a href="../../components/cards.html">Cards</a></li>
                    <li><a href="../../components/carousels.html">Carousels</a></li>
                    <li><a href="../../components/cta.html">CTA</a></li>
                    <li><a href="../../components/features.html">Features</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="mega-list">
                    <li><a href="../../components/footers.html">Footers</a></li>
                    <li><a href="../../components/forms.html">Forms</a></li>
                    <li><a href="../../components/gallery.html">Gallery</a></li>
                    <li><a href="../../components/lightbox.html">Lightbox</a></li>
                    <li><a href="../../components/maps.html">Maps</a></li>
                    <li><a href="../../components/masonry.html">Masonry</a></li>
                    <li><a href="../../components/modals.html">Modals</a></li>
                    <li><a href="../../components/partners.html">Partners</a></li>
                    <li><a href="../../components/presentation.html">Presentations</a></li>
                    <li><a href="../../components/pricing.html">Pricing</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="mega-list">
                    <li><a href="../../components/progress.html">Progress</a></li>
                    <li><a href="../../components/sliders.html">Sliders</a></li>
                    <li><a href="../../components/steps.html">Steps</a></li>
                    <li><a href="../../components/tables.html">Tables</a></li>
                    <li><a href="../../components/tabs.html">Tabs</a></li>
                    <li><a href="../../components/testimonials.html">Testimonials</a></li>
                    <li><a href="../../components/typed.html">Typed</a></li>
                    <li><a href="../../components/typography.html">Typography</a></li>
                    <li><a href="../../components/users.html">Users</a></li>
                    <li><a href="../../components/utility.html">Utility</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Michael Doe
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../app/profile.html">Public Profile</a>
              <a class="dropdown-item" href="../app/connections.html">Connections</a>
              <a class="dropdown-item" href="../app/groups.html">Groups</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../app/settings.html">Settings</a>
              <a class="dropdown-item" href="../app/payments.html">Payments</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- En-tête -->

<!-- CTA -->
<section class="pb-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center p-10">
        <h1 data-swiper-parallax="-100%" class="display-3">Aller jouer au golf n'a jamais été aussi <b>facile</b></i></h1>
        <a href="#scroll-form" class="btn btn-purple btn-rounded px-5 scroll-smooth">Je suis intéressé</a>
      </div>
    </div>
  </div>
</section>
<!-- CTA -->

<!-- Valeur ajoutée du service -->
<section class="bg-purple pt-0 pb-5">
  <div class="separator-top pt-3 text-white">
  <h2 class="text-decorate text-white mb-5 pl-5">19ème trou est la seule application qui étende l'expérience du golf jusqu'au centre de Paris</h2>
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4 text-center">
          <i class="svg-icon fs-50 mb-1 text-white">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="18,26.066 2,33 32,45 62,33 46,26.067 "/>
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="18,39.066 2,46 32,58 62,46 46,39.067 "/>
            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="32,32 62,20 32,7 2,20 "/>
            </svg>
          </i>
          <h3 class="text-uppercase font-weight-normal fs-18 mt-2">Tous les services d'un clubhouse en plein centre ville</h3>
          <p>Stockage du matériel, vestiaires, bar/restaurant</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="svg-icon fs-50 mb-1 text-white">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="17" y1="63" x2="47" y2="63"/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="32" y1="62" x2="32" y2="42"/>
            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M48,26c0,8-8,16-16,16s-16-8-16-16"/>
            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M40,27c0,4.418-3.582,8-8,8s-8-3.582-8-8V9
              c0-4.418,3.582-8,8-8s8,3.582,8,8V27z"/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="29" y1="13" x2="24" y2="13"/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="29" y1="23" x2="24" y2="23"/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="40" y1="13" x2="35" y2="13"/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="40" y1="23" x2="35" y2="23"/>
            </svg>
          </i>
          <h3 class="text-uppercase font-weight-normal fs-18 mt-2">La suppresion de toutes les contraintes logistiques</h3>
          <p>Plus besoin de voiture pour aller jouer</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="svg-icon fs-50 mb-1 text-white">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="1,25 12,59 52,59 63,25 "/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="14" y1="25" x2="22" y2="5"/>
            <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="50" y1="25" x2="42" y2="5"/>
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="23,41 30,48 
              43,35 "/>
            </svg>
          </i>
          <h3 class="text-uppercase font-weight-normal fs-18 mt-2">Une réservation via l'application à tarif préférentiel</h3>
          <p>+ de 15 golfs partenaires autour de Paris</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Valeur ajoutée du service -->

<!-- Expérience utilisateur -->
<section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6">
        <img src="../../assets/images/demo/app/app-2.svg" alt="Image">
      </div>
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col">
            <h2 class="text-decorate">Un clubhouse exclusif au <b>coeur de Paris</b></h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-4" data-aos-anchor-placement="bottom-bottom">
            <i class="icon-activity fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Un cadre haut de gamme en partenariat avec La Montgolfière</span>
          </div>
          <div class="col-4">
            <i class="icon-airplay fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Le stockage de votre matériel sur place</span>
          </div>
          <div class="col-4">
            <i class="icon-command fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Des vestiaires et un spa à disposition</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col">
            <h2 class="text-decorate">Le <b>transport</b> vers le golf assuré par nos soins</h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-4" data-aos-anchor-placement="bottom-bottom">
            <i class="icon-activity fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Une prise en charge au pied du clubhouse</span>
          </div>
          <div class="col-4">
            <i class="icon-airplay fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Une course conviviale partagée avec d'autres golfeurs</span>
          </div>
          <div class="col-4">
            <i class="icon-command fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Un temps de trajet optimisé</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../assets/images/demo/app/app-2.svg" alt="Image">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6">
        <img src="../../assets/images/demo/app/app-2.svg" alt="Image">
      </div>
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col">
            <h2 class="text-decorate">Des green-fee à <b>-40%</b></h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-4" data-aos-anchor-placement="bottom-bottom">
            <i class="icon-activity fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Une réservation par plage horaire</span>
          </div>
          <div class="col-4">
            <i class="icon-airplay fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Une mutualisation sur l'ensemble des golfs partenaires</span>
          </div>
          <div class="col-4">
            <i class="icon-command fs-30 mb-2 text-purple">
            </i>
            <span class="eyebrow">Un algorithme de réservation "Last Minute"</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Expérience utilisateur -->

<!-- Formulaire -->
<section class="bg-purple" id="scroll-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="boxed p-5 p-lg-10">
          <div class="container">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-8">
                <h2 class="display-3 mb-1">L'application en <b>avant-première</b></h2>
                <p>Et devenez bêta-testeur</p>
                <div class="input-group mt-2">
                  <input type="text" class="form-control px-3" placeholder= "tiger@woods.com" aria-label="Get a free copy">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Je m'inscris</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../../assets/images/demo/service/service-1.svg" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Formulaire -->

<!-- Partenaires -->
<section class="separator-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h3>Nos partenaires</h3>
      </div>
    </div>
    <div class="row mt-8">
      <div class="col partners align-items-center">
        <div class="owl-carousel" data-items="[2,2,2]" data-loop="false" data-autoplay="false">
            <%= image_tag "ffgolf-logo.jpg", class: "logo"%>
            <%= image_tag "bluegreen-logo.png", class: "logo"%>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Partenaires -->